   *,
   *::before,
   *::after {
       box-sizing: border-box;
   }

   /* Custom Properties */
   :root {
       --ff-primary: 'Source Sans Pro', sans-serif;
       --ff-secondary: 'Source Code Pro', monospace;

       --fw-reg: 300;
       --fw-bold: 900;

       --clr-bg: #fff;
       --clr-dark: #303030;
       --clr-accent: #16e0bd;

       --fs-h1: 3rem;
       --fs-h2: 2.25rem;
       --fs-h3: 1.25rem;
       --fs-body: 1rem;

       --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.5em 0.5em 0.25em rgba(0,0,0,.25);
   }
    .about-me__body {
        border: 5px soild #FFFF00;
        text-align: center;
    }
    
   /*carousel*/
   .carousel-item {
    height:32rem;
    background:#777;
    color: white;
    position:relative;
    background-position: center;
    background-size: cover;
   
    }
    .Projects{
        background-image:url("img/background.jpg");

    }
    .container {
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        padding-bottom: 50px;
    }

    .overlay-image {
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        top:0; 
        background-position: center;
        background-size: cover;
        opacity:0.85;

    }
    
   @media (min-width: 800px) {
       :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
       }
   }

   /* General Styles */
   body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
   }
   section {
       padding: 5em 2em;
   }

   img {
       vertical-align: middle;
       border-style: none;
       display: block;
       max-width: 100%
    }


   .strong {font-weight: var(--fw-bold)}

   :focus{
       outline: 3px solid var(--clr-accent);
       outline-offset: 3px;
   }

 
   /* buttons */
   .btn {
       display: inline-block;
       padding: .5em 2.5em;
       background: var(-clr-accent);
       color: var(--clr-dark);
       text-decoration: none;
       cursor: pointer;
       font-size: .8rem;
       text-transform: uppercase;
       letter-spacing: 2px;
       font-weight: var(--fw-bold);
       transition: transform 200ms ease-in-out;
   }

   .btn:hover {
       transform: scale(1.1)
   }
   /* Typography */

   h1,
   h2,
   h3, 
   h4, 
   h5
   {
       line-height: 1.1;
       margin: 0;
       color: rgb(8, 8, 8);
       text-align: center;

   }

   table {
    border-collapse:collapse;
    text-indent: initial;
    border-spacing: 2px;
    }

   h1 { font-size: var(--fs-h1)}
   h2 { font-size: var(--fs-h2)}
   h3 { font-size: var(--fs-h3)}

   .section__title {
        margin-bottom: .25rem;
   }
   .title {
    line-height: 1.1;
       margin: 0;
       color: rgb(8, 8, 8);
   }
   .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(49, 19, 19);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
   .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }
   ul {
       line-height: 1.0;
       margin: 0;
       color: rgb(162, 160, 177);
       text-align: center;
       display: inline;
   }

   li {
        line-height: 1.0;
        color: rgb(5, 5, 5);
   }


   .section__subtitle--intro{
       font-weight: var(--fw-reg);
   }

   .section__title--intro strong {
       display: block;
       }

   .section__subtitle{
       margin: 0;
       font-size: var(--fs-h3);
   }

   .section__subtitle--intro,
   .section__subtitle--about {
       background: var(--clr-accent);
       font-family: var(--ff-secondary);
       margin-bottom: 1em;
   }

 /* Intro Section */
   .intro {
       position: relative;
   }

   .intro__img{
       box-shadow: var(--bs);
   }

   .section__subtitle--intro {
       display: inline-block;
   }

   @media (min-width: 600px){
       .intro {
           display: grid;
           width: min-content;
           margin: 0 auto;
           grid-column-gap: 1em;
           grid-template-areas:
            "img title"
            "img subtitle";
           grid-template-columns: min-content max-content; 
       }

       .intro__img{
           grid-area: img;
           min-width: 250px;
           position: relative;
           z-index: 2;
       } 

       .section__subtitle--intro {
           align-self: start;
           grid-column: -1/1;
           grid-row: 2;
           text-align: right;   
           position: relative;
           left: -1.5em;
           width: calc(100% + 1.5em);
       }

   }
.background-container{
    background-color: #303030;
}


/* Intro */
.intro {
    background: rosybrown;
}
/* My service section */
.my-services {
    background-color: var(--clr-light);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);

}
li {
    line-height: 2;
    font-family: 'Open Sans Condensed', sans-serif;

  
}
*, ::after, ::before {
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.skill-a::after {
    content: "";
}
skill-a::before {
    color: inherit;
}
/*li::before {
    font-weight: bold;
    content: "✘";
    color: #fafafa;
}

*, ::after, ::before {
    box-sizing: border-box;
}
li::after {
    font-weight: bold;
    content: "✘"; 
} 
*/
td {
    width: 50%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

td {
    display: table-cell;
    vertical-align: inherit;
}
.space{
    height: 40px;
}

.left-hand {
    text-align: right;
}

.right-hand{
    text-align: left;
}

.h-gif{
    width: 20%;
    text-align: center;
    margin-left: 30px;
    border-radius: 50%;
}
/* intro title */

.flip_text{
    text-transform: uppercase;
    box-sizing: content-box;
    background-color: #ffffff;
    height: 50px;
    padding: 20px 20px;
    display: flex;
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
}

span{
    display: block;
    height: 100%;
    padding-left: 10px;
    animation: spin_words 6s infinite;
}

@keyframes spin_words {
    10%
    {
        transform: translateY(-112%);
    }
    25% 
    {
        transform: translateY(-100%);
    }
    35% 
    {
        transform:translateY(-212%);
    }
    50%
    {
        transform: translateY(-200%);
    }
    60% 
    {
        transform: translateY(-312%);
    }
    75% 
    {
        transform: translateY(-300%);
    }
    85% 
    {
        transform: translateY(-412%);
    }
    100% 
    {
        transform: translateY(-400%);
    }

}

.word {
    overflow:hidden;
}
.section__title--services {
    color: var(-clr-accent);
    position: relative;
}

.section__title--service::after {
    content:''; 
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services{
    margin-bottom: 4em;
}


.Service {
    background-color:#bbb;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}
@media (min-wdith: 800px) {
    .services {
        display: flex;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.active {
    background-color: #717171;
  }
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  /*Nav Bar */
  header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(180, 191, 216);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  /* Projects */
  
  /* Footer*/
  .Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(173, 173, 173);
  }

  ion-icon {
    color: black;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }